apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ login_secret }}"
  namespace: "{{ proteccio_data_secret_namespace }}"
data:
  "{{ login_secret_field }}": "{{ proteccio_password | string | b64encode }}"
