apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ proteccio_data_secret }}"
  namespace: "{{ proteccio_data_secret_namespace }}"
data:
{% for crt_file in proteccio_crt_files %}
  "{{ crt_file | basename }}": "{{ lookup('ansible.builtin.file', crt_file)  | string | b64encode }}"
{% endfor %}
  "proteccio.rc": "{{ lookup('ansible.builtin.file', working_dir + '/proteccio.rc') | string | b64encode }}"
